@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



.cabecalho{
    padding: 2% 0 0 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--text-content);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--bg-theme-color);
}

.cabecalho__menu__link:hover{
    text-decoration: underline;
}


.rodape {
    padding: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--text-content);
    background-color: var(--bg-theme-color);
    color: var(--bg-page);
}